<html>
    <head>
        <title>Please Login</title>
    </head>
    <body>
        {% if form.errors %}
            <p class="text-warning">Your username and password didn't match</p>
        {% endif %}

	<form role="form" class="form-horizontal" method="post" action="{% url 'steveweb_login' %}">
            {% csrf_token %}
            {{ form }}
            <input class="btn btn-primary" type="submit" value="Login"/>
            <input type="hidden" name="next" value="{{ next }}" />
    </body>
</html>
